@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::selection{
  color: rgba(255, 174, 0, 0.505);
}
body,
html {
  height: 100%;
  width: 100%;
}
